<div class="content">
  <div class="header">
    <h1 class="title">Title</h1>
  </div>
  <div class="main">
    <div class="main-title">
      <h2>Main title</h2>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel...">
      </textarea>
    </mat-form-field>
  </div>
  <button mat-fab extended color="primary">
    <mat-icon>favorite</mat-icon>
    Primary
  </button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-button color="warn">Warn</button>
  <form [formGroup]="form" (ngSubmit)="addNewOption()">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input name="name" formControlName="name" matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
    <button type="submit" mat-button>Submit</button>
  </form>
  <p>
    {{ form.value | json }}
  </p>

  <form>
    <mat-form-field>
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>